{% extends 'NewApp/base.html' %}

{% load static %}

{% block title %} Formulario - Agregar Curso {% endblock title %}

{% block main %}
    <!-- action: representa la url a la que nos va a re-dirigir y enviar la info.
    Tiene prioridad por sobre la redirección que podamos colocar en views.py -->
    <form action="/curso-formulario/" method="POST">
        {% csrf_token %}
        <p>Curso: <input type="text" name="curso"></p>
        <p>Camada: <input type="text" name="camada"></p>

        <input type="submit" value="Enviar">

    </form>
{% endblock main %}

